<ul class="navbar">
    <li><h1>COMPLAINTS</h1></li>
    <li><a  class="navElements" [class.active]="comp===1" (click)="comp=1">Generate form</a></li>
    <li><a class="navElements" [class.active]="comp===2" (click)="comp=2">Positive Feedbacks</a></li>
    <li><a class="navElements" [class.active]="comp===3" (click)="comp=3">Negative Feedbacks</a></li>
    <li><a class="navElements" [class.active]="comp===4" (click)="comp=4">Spam Feedbacks</a></li>
    <li><a class="navElements" routerLink="/login">Log out</a></li>
</ul> 