<div class="container">
    <h1>Welcome to Complaint management system!!</h1>
    <p>This is a web application to manage various feedbacks received from the students of an educational institution and categorize them 
        according to their nature ie) Positive, Negative and Spam. It also enables the admin to change the 
        life cycle of the complaint such as received, action undergoing and resolved.
        It notifies the students who gave the Negative feedbacks that their complaint is resolved. It 
        thanks the happy students for the positive feedback. It finally allows the user to delete the spam complaints in order to save space.  
    </p>
    <button class="button-29" routerLink="/login">Click to Login</button>
    <p>Project done by the team of Venkatesan S K and Pranav Shiva P</p>
</div>