<div class="container">
    <h1>Welcome to Complaint management system!!</h1>
    <p>This is a web application to manage various feedbacks received from the customers and categorize them 
        according to their nature ie) Positive, Negative and Spam. It also enables the admin to change the 
        life cycle of the complaint such as received, action undergoing along with percentage of completion.
        It notifies the customers who gave the Negative feedbacks that their complaint is resolved. It also 
        notifies the happy customers about the new services of the company. 
    </p>
    <button class="button-29" routerLink="/login">Click to Login</button>
</div>