<div class="container">
    <h1>LOGIN TO VIEW FEEDBACKS OF YOUR INSTITUTION</h1>
    <input type="email" placeholder="Enter your Institution's Email ID" class="input" [(ngModel)]="userName">
    <input type="password" placeholder="Enter your Password" class="input" [(ngModel)]="password"><br>
    <button class="button-29" (click)="login()">Log in</button>
    <p>Don't have an account? <a routerLink="/signup" class="link">Sign up</a></p>
</div>
<div id="snackbar" [class.show]="openSB">{{warning}}</div>