/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    background: #654ea3;  
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  
    background: linear-gradient(to right, #eaafc8, #654ea3); 
    font-family: 'Fjalla One', sans-serif;
}

.container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #eaafc8 0, #654ea3 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(164, 142, 211, 0.4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Fjalla One', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 200px;
  margin: 20px;
}

.button-29:focus {
  box-shadow: #654ea3 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #654ea3 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.input
{
  width: 70%;
  margin: 20px;
  padding: 10px;
  border: 1px solid #000;
  font-family: 'Fjalla One', sans-serif;
}

.link
{
  text-decoration: none;
  color: #3c4fe0;
}

.navbar {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 100%; 
  position: fixed;
  overflow: auto;
}
li h1
{
  padding: 10px;
  border-bottom: 1px solid #654ea3;
}
li .navElements {
  display: block;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li .navElements:hover:not(.active):not(.logout) {
background-color: rgb(194, 194, 194);
}

li .navElements.active {
background-color: #654ea3;
color: #fff;
}